.highlightsButton {
    background-color: #F4CE14;
    padding: 10px;
    border-radius: 15px;
    color: #495E57;
    font-size: 18px;
    display: grid;
    justify-content: center;
    align-items: center;
}