.confirmedBooking {
    background-color: #495E57;
    font-family: 'Markazi', sans-serif;
    font-size: 56px;
    font-weight: bold;
    color: #F4CE14;
    display: flex;
    justify-content: center;
    align-items: center;
}